@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parisienne&display=swap');

:root {
    --font1:'Parisienne';
    --font2: 'Montserrat';
}

*{
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family:var(--font2)
}

header{
    background-color: black;
    color: #ee1f5d;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-family: var(--font1);
    font-size:10vw;
}

.fa-solid{
    padding: 10px;
}

header > p {
    padding-bottom: 50px;
}

section{ 
    padding-top: 10%;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font2);
    font-size: 4.5vw;
}

section > p{
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem{
    background-color: black;
    color: aliceblue;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.801);
    background-attachment: fixed;
}
section.imagem > p{
    background-color: rgba(0, 0, 1, 0.418);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px black ;
}

section#imagem1 {
    background-image: url('../fotos/foto001.jpg');
    background-position: left right;
    background-size: cover;
}

section#imagem2 {
    background-image: url('../fotos/foto002.jpg');
    background-size: cover;
}

footer{
    background-color: black;
    text-align: center;
    color: #ee1f5d;
    padding: 10px;
}
